<p class="container text">
    Lorem Ipsum
    "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at commodo dui, at tincidunt nunc. Nunc vel ultricies mi, quis semper mi. Aliquam risus dui, blandit non lectus et, vulputate dapibus velit. Maecenas et turpis at mi iaculis molestie. Duis ut condimentum erat, in eleifend nisl. Nullam quis felis vitae nulla pulvinar porta. Phasellus efficitur risus consectetur diam hendrerit eleifend. Sed eu urna magna. Duis vitae nulla tincidunt, dapibus mauris eu, dapibus ante. Proin suscipit nunc in quam faucibus pharetra.
    <br>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla efficitur, sapien at dignissim cursus, nunc orci dictum ligula, sit amet tincidunt tortor nulla dignissim massa. Vestibulum posuere ex turpis, posuere feugiat justo malesuada eget. Praesent ut ante et mauris rhoncus laoreet. Nulla pulvinar malesuada lorem. Nullam iaculis congue hendrerit. Proin at feugiat nulla. Cras sollicitudin velit turpis, non aliquet lectus varius id. Maecenas vulputate a mauris eget hendrerit. Praesent lacus lorem, ultricies ac ipsum sit amet, pellentesque congue ligula. Pellentesque viverra lacus ut felis tincidunt pharetra. Etiam eu est purus.
     Curabitur iaculis quam at fringilla iaculis. Maecenas dictum velit semper sagittis porta.
    <br><br>
    <a href="" (click)="navigateHome()"> Take me back to home</a>
</p>
