.heading{
    font-weight: 500;
    text-transform: uppercase;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 14px;
    margin-bottom: 30px;
}
input{
    height: 40px;
    border:1px solid #fff;
}

.inputBox{
    width: 90%;
    padding:0 10px;
    font-weight: 700;
}
.inputSubmit{
   padding: 10px 30px;
    background: #fff;
    color: #120E8E ;
    border:3px solid #fff;
    font-size: 14px;
    display: block;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 2px;
   
}

.taskItem{
    background:#3C31B2;
    padding: 10px 20px;
}