<div class="container">
  <h2 class="heading">My To Do List</h2>
  <div class="form-section">
    <h3 class="heading">Enter your todo tasks for today</h3>
    <form>
      <input type="text" class="inputBox" name="item" value="My todo task one" [(ngModel)]="taskText">
      <!-- <br><span>{{taskText}}</span> -->
      <input type="submit" class="inputSubmit" [value]="buttonText" (click)="addItem()">
    </form>
  </div>

  
</div>
<div class="container">
  <h2 class="heading">My Task List ({{itemCount}})</h2>
  <p class="taskItem" *ngFor="let task of tasks let i = index" (click)="removeItem(i)">
    {{task}}
  </p>
</div>

